article {
    padding: 1rem;
    color: white;
    background-color: var(--darkerdeepblue);
  }
  
  h2 {
    margin: 0;
  }
  
  time {
    color: var(--lightblue);
  }
  
  .actions {
    text-align: right;
    margin: 0;
  }
  
  .actions button {
    font: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: var(--deepblue);
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .actions button:hover,
  .actions button:active {
    color: var(--deepblue);
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}