<app-header />

<main>

  <ul id="" users>

    <!-- @for (person of users; track person.id) { -->

      <li *ngFor="let person of users" style="margin-bottom: 0.5rem">
        <app-user
          [user]="person"
          (select)="onSelectUser($event)"
        />
      </li>
      
    <!-- } -->

  </ul>

  <!-- @if (selectedUser) { -->

    <app-tasks *ngIf="selectedUser; else fallback" 
    [name]="selectedUser!.name"/>

  <!-- } @else { -->

    <ng-template #fallback>

      <h2 style="margin-top: 1.5rem" 
      id="fallback">
      Select a user to see their Tasks!</h2>

    </ng-template>

  <!-- } -->

</main>
